/* Custome style for Pilotexc app */

.navbar-logo {
    max-height: 40px;
}

.select-action.disabled {
    pointer-events: none !important;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Parcourir";
    background-color: #ffc107;
    color: #1f2d3d;
}

td.details-control {
    color: #3c8dbc;
    font-size: 18px;
    cursor: pointer;
}

#importScriptures fieldset:not(:first-of-type) {
    display: none;
}

canvas {
    width: 100%;
    height: 100%;
}
