/* Custom style Pilotexc APP

*/

.navbar-logo {
    max-height: 40px;
}

.main-header .nav-item .nav-link span {
    line-height: 40px;
}

.disabled {
    color: #ced4da !important;
}

.select-action {
    pointer-events: none;
}
